.logo-footer {
  width: 100%;
  max-width: 257px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-bottom {
  margin: 64px 0;
}
.footer-bottom .container-fluid {
  align-items: stretch;
}

.footer-column {
  margin: 0 0 0 auto;
  max-width: calc(50% - 135px);
  padding: 0 0 0 64px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.footer-column .btn-gray {
  color: #000;
}

.link-developer {
  margin: auto 0 0 auto;
  color: #9699A1;
  text-align: right;
}
.link-developer:hover {
  color: #E80014;
}
.link-developer strong {
  margin: 0 0 0 5px;
}

.footer-logo {
  max-width: 257px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-box {
  width: 100%;
  max-width: 270px;
  color: #9699A1;
}

.link-footer {
  margin: 32px 0;
  color: #9699A1;
}
.link-footer:hover {
  color: #E80014;
}

.footer-contacts {
  max-width: calc(50% - 135px);
  padding: 0 0 0 64px;
  width: 100%;
}

.footer-contacts-item {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding: 0 0 32px;
  margin: 0 0 32px;
  border-bottom: 2px solid rgba(217, 217, 217, 0.1);
  font-size: 24px;
}
.footer-contacts-item a {
  color: #fff;
  font-weight: bold;
}
.footer-contacts-item a:hover {
  color: #E80014;
}
.footer-contacts-item p {
  min-width: 140px;
}
.footer-contacts-item:last-child {
  margin: 0;
  padding: 0;
  border: none;
}

.modal__div {
  position: fixed;
  max-width: 800px;
  width: 100%;
  height: 100%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  overflow: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
  opacity: 0;
}

.modal__div-reviews {
  max-width: 900px;
}
.modal__div-reviews .modal-body {
  padding: 64px;
}
.modal__div-reviews .modal__close {
  display: flex;
}
.modal__div-reviews .reviews-box__footer {
  font-size: 24px;
  margin: 64px 0 0;
}

.modal__close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 24px;
  height: 24px;
  display: none;
  align-items: center;
  justify-content: center;
  stroke: #9699A1;
}
.modal__close:hover {
  stroke: #E80014;
}

.modal__wrapper {
  background: #fff;
  color: #000;
  width: 100%;
  height: auto;
  overflow: auto;
  margin: 50px auto;
  box-sizing: border-box;
  position: relative;
}
.modal__wrapper h2 {
  margin: 0 auto 32px;
}

.modal-head {
  position: relative;
  z-index: 1;
  background: #000;
  width: 100%;
  padding: 64px;
}

.logo-modal {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-body {
  width: 100%;
  padding: 64px;
}

.phone-modal {
  margin: 32px auto;
  color: #000;
  text-align: center;
}

.form-modal input {
  border: 1.5px solid #9699A1;
}
.form-modal [type=submit] {
  height: 98px;
  margin: 32px 0 0;
}

.overlay {
  z-index: 100;
  position: fixed;
  background-color: #000;
  opacity: 0.4;
  -moz-opacity: 0.4;
  filter: alpha(opacity=40);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}