@charset "UTF-8";
/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1600px) {
  .container {
    max-width: 1408px;
  }
  .logo {
    max-width: 562px;
    min-width: 562px;
    margin: 0;
  }
  h1, .h1 {
    margin: 64px 0;
    font-size: 36px;
  }
  h2, .h2 {
    font-size: 76px;
  }
  h3, .h3 {
    font-size: 36px;
  }
  .home-image {
    max-width: 642px;
  }
  .start-brand-wrapper {
    max-width: 1344px;
    background: url("../img/decor-bg1-0.svg") no-repeat center;
    background-size: cover;
  }
  .slick-next {
    left: 20px;
  }
  .slick-prev {
    right: 20px;
  }
  .video-wrapper::before {
    width: 100px;
    height: 100px;
    background-size: 28px;
  }
  .company-slogan-wrapper {
    padding: 60px 64px;
  }
  .company-slogan .h1 {
    font-size: 116px;
  }
  .philosophy-brand .start-brand-wrapper {
    background: url("../img/decor-bg2-0.svg") no-repeat center;
    background-size: cover;
    max-width: 1344px;
    margin: -160px auto 0;
  }
  .product-card {
    padding: 0 2px;
  }
  .product-card__img {
    height: 496px;
  }
  .reviews-slider .slide {
    padding: 0 16px;
  }
  .reviews-slider .slick-next {
    left: -72px;
  }
  .reviews-slider .slick-prev {
    right: -72px  ;
  }
  .reviews-box__body .box-text {
    -webkit-line-clamp: 7;
  }
  .partner-section .company-slogan-wrapper {
    padding: 50px 88px;
  }
  .logo-partner {
    max-width: 164px;
  }
  .result-section .box-text br {
    display: none;
  }
  .one-in-region__content {
    max-width: 480px;
  }
}
@media only screen and (max-width: 576px) {
  .col-xs-12 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}