@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Akrobat";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Akrobat/Akrobat-Bold.eot");
  src: url("../fonts/Akrobat/Akrobat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Akrobat/Akrobat-Bold.woff") format("woff"), url("../fonts/Akrobat/Akrobat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Akrobat";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Akrobat/Akrobat-SemiBold.eot");
  src: url("../fonts/Akrobat/Akrobat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Akrobat/Akrobat-SemiBold.woff") format("woff"), url("../fonts/Akrobat/Akrobat-SemiBold.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  background: #000;
  color: #fff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

.text-decoration {
  text-decoration: underline;
}

a {
  display: block;
  text-decoration: none;
  transition: 0.3s ease;
  outline: none;
  width: -moz-fit-content;
  width: fit-content;
}
a:hover, a:focus {
  text-decoration: none;
}

input, textarea, select {
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 32px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  border: none;
  border-radius: 0;
  width: 100%;
  background: #fff;
  color: #000;
  font-size: 24px;
  cursor: pointer;
}
input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
input::placeholder, textarea::placeholder, select::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus {
  outline: none;
  box-shadow: none;
}

input[type=radio], input[type=checkbox] {
  width: auto;
  height: auto;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  margin: 0 5px 0 0;
  display: inline;
}

label {
  display: block;
  width: 100%;
  margin: 0 0 13px;
}
label:last-child {
  margin: 0;
}

.label-phone {
  position: relative;
  z-index: 1;
}
.label-phone input {
  padding: 32px 32px 32px 86px;
}

.label-icon {
  position: absolute;
  left: 32px;
  top: 32px;
  max-width: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

textarea {
  resize: none;
  height: 122px;
}

.label-title {
  margin: 0 0 16px;
  width: 100%;
  font-size: 24px;
}

button, .btn {
  outline: none;
  transition: 0.3s ease;
  cursor: pointer;
  box-shadow: none;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
}
button:hover, button:focus, .btn:hover, .btn:focus {
  outline: none;
  box-shadow: none;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 32px;
  font-size: 28px;
  font-weight: bold;
  height: 72px;
  border-radius: 0;
  transition: 0.3s ease;
}
.btn .svg-icon {
  min-width: 23px;
  width: 23px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  stroke: #fff;
  margin: 0 0 0 10px;
}

.btn-gray {
  background: #9699A1;
  color: #fff;
}
.btn-gray:hover, .btn-gray:focus {
  background: #E80014;
  color: #fff;
}

.btn-accent {
  background: #E80014;
  color: #fff;
}
.btn-accent:hover, .btn-accent:focus {
  background: #9699A1;
  color: #fff;
}

.btn-group {
  display: flex;
  align-items: flex-start;
}
.btn-group .btn {
  margin: 0 10px 0 0;
}
.btn-group .btn:last-child {
  margin: 0;
}

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%;
}

strong, b {
  font-weight: bold;
  display: inline-block;
}

ul, ol {
  padding: 0 0 0 20px;
}

.my-ul {
  list-style: none;
  padding: 0;
}

.list-dots {
  list-style-type: disc;
}

.container {
  max-width: 1604px;
  width: 100%;
  padding: 0 32px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.container-fluid {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 32px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.w-100 {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin: 0 -32px;
}

.col-3 {
  max-width: 33.333%;
  flex: 0 0 33.333%;
  padding: 0 32px;
}

.col-6 {
  max-width: 50%;
  flex: 0 0 50%;
  padding: 0 32px;
}

.col-12 {
  padding: 0 32px;
  max-width: 100%;
  flex: 0 0 100%;
}

h1, .h1 {
  width: 100%;
  margin: 25px 0 64px;
  font-family: "Akrobat", sans-serif;
  font-weight: 600;
  font-size: 44px;
  line-height: 114%;
  text-transform: uppercase;
}

h2, .h2 {
  width: 100%;
  font-family: "Akrobat", sans-serif;
  font-size: 84px;
  font-weight: 700;
  line-height: 105%;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 64px;
}

h3, .h3 {
  text-transform: uppercase;
  font-size: 44px;
  line-height: 110%;
  font-weight: 600;
  font-family: "Akrobat", sans-serif;
  width: 100%;
}

.d-mobile {
  display: none;
}

.box-text {
  font-size: 24px;
  line-height: 100%;
}
.box-text p {
  margin: 0 0 32px;
}
.box-text p:last-child {
  margin: 0;
}

.text-big {
  font-size: 28px;
  line-height: 100%;
}
.text-big p {
  margin: 0 0 32px;
}
.text-big p:last-child {
  margin: 0;
}

.color-gray {
  color: #9699A1;
}

.m-auto {
  margin: 0 auto;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-64 {
  margin-bottom: 64px;
}

.mb-128 {
  margin-bottom: 128px;
}

.m-64 {
  margin: 64px 0;
}

.m-160 {
  margin: 160px 0;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-transform {
  text-transform: uppercase;
}

.decor-box {
  position: relative;
  z-index: 1;
}
.decor-box::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 120px;
  height: 6px;
  transform: skew(30deg);
  background: #E80014;
}

.slick-slider {
  width: 100%;
}

.slick-arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
  width: 63px;
  height: 63px;
  min-width: 63px;
  background: #fff;
  border-radius: 50%;
  stroke: #000;
  fill: none;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slick-arrow svg {
  width: 11px;
  height: 22px;
}
.slick-arrow:hover, .slick-arrow:focus {
  background: #E80014;
  stroke: #fff;
}

.slick-next {
  left: 47px;
}

.slick-prev {
  right: 47px;
}

.slick-slide {
  outline: none;
}

.slick-dots {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 64px auto 0;
  z-index: 1;
  opacity: 1;
  bottom: 0;
  padding: 0;
  list-style: none;
}
.slick-dots li {
  cursor: pointer;
  transition: 0.3s ease;
  width: 9.5px;
  height: 9.5px;
  margin: 0 12px 0 0;
  opacity: 0.4;
  background: #fff;
  border-radius: 50%;
}
.slick-dots li:last-child {
  margin: 0;
}
.slick-dots li.slick-active {
  opacity: 1;
}
.slick-dots li button {
  display: none;
}
.slick-dots li:hover {
  background: #E80014;
}

.title-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.panel_heading {
  background: #9699A1;
  width: 100%;
  margin: 0 0 3px;
  color: #000;
  padding: 32px;
  cursor: pointer;
  transition: 0.3s ease;
}
.panel_heading:last-child {
  margin: 0;
}
.panel_heading .block_title {
  width: 100%;
  display: flex;
  align-items: center;
}
.panel_heading .block_title:after {
  content: "";
  margin: 0 0 0 auto;
  width: 16px;
  height: 10px;
  background: url("../img/arrow-bottom.svg") no-repeat center;
  background-size: cover;
}
.panel_heading .block_hover {
  display: none;
  width: 100%;
  padding: 32px 0 0;
}
.panel_heading.in {
  background: #fff;
}
.panel_heading.in .blodk_hover {
  display: block;
}
.panel_heading.in .block_title::after {
  transform: rotate(180deg);
}
.panel_heading h4 {
  font-size: 28px;
  font-weight: bold;
  width: 100%;
  margin: 0;
}

.label-checkbox {
  position: relative;
  display: flex;
  align-items: flex-start;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  margin: 15px 0 0;
  line-height: 1.14;
}

.inp-check {
  display: none;
}

.checkbox-custom {
  margin: 0 12px 0 0;
  position: relative;
  border-radius: 6px;
  background-color: #fff;
  width: 16px;
  height: 16px;
  min-width: 16px;
  cursor: pointer;
}

.inp-check:checked ~ .checkbox-custom {
  background: #fff url("../img/check-black.svg") no-repeat center;
  background-size: 8px;
}